*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.db
*.log
*/regions.yml
AreaShop/regions/
Auto_Pickup/Data
Buycraft/settings.conf
CommandRank/PlayerStorage.yml
CrateReloaded\\lang\\/l_en.properties
dynmap/web/
dynmap/*.pending
dynmap/ids-by-ip.txt
Essentials/userdata/
Essentials/usermap.csv
iConomy/accounts.mini
MassiveCore/idnamecache.json
mcMMO/backup/
mcMMO/flatfile/
Multiverse-Inventories/players/
Multiverse-Inventories/groups/
Multiverse-Inventories/worlds/
Multiverse-Portals/debug.log.*
Parkour/courses.yml
Parkour/inventory.yml
Parkour/players.yml
PermissionsEx/permissions.yml
simpleFactions/playerData/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
